<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inicio Admin | Emmanuel English School</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/stylesheet/home.css}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand"><a th:href="@{/}">Emmanuel English School</a></span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Estudantes
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" th:href="@{/estudante/registar}">Registar</a></li>
                          <li><a class="dropdown-item" th:href="@{/estudante/listar}">Listar</a></li>
                          <li><a class="dropdown-item" th:href="@{/estudante/desempenho}">Desempenho</a></li>
                          <li><a class="dropdown-item" th:href="@{/estudante/mensalidades}">Mensalidade</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Funcionarios
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" th:href="@{/funcionario/registar}">Registar</a></li>
                          <li><a class="dropdown-item" th:href="@{/funcionario/listar}">Listar</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/minha_conta/meus_dados}" id="minha-conta">Minha Conta</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="logged-user">
            <div sec:authentication="principal.fullName" class="username"></div>
            <div class="user-icon" id="user-icon">
                <i class="bi bi-person-circle"></i>
            </div>
        </div>
    </nav>

    <main class="main-container" id="main-container">
        <div class="result-container" id="result-container">
            <form th:action="@{/funcionario/editar}" th:object="${wrapper}" method="post">
                <table class="table table-bordered border-primary" width="80%" border="1px">
                    <thead class="table table-dark">
                        
                        <tr>
                            <th>ID de funcionario</th>
                            <th>Nome completo</th>
                            <th>Idade</th>
                            <th>Identificacao Nr</th>
                            <th>Experiencia Profissional</th>
                            <th>Habilidades</th>
                            <th>Funcao</th>
                        </tr>
                    </thead>

                    <tbody class="estudante-list">
                        <tr th:each="f, iterStat : ${wrapper.funcionarios}">
                            <td>
                                <input type="text" th:field="*{funcionarios[__${iterStat.index}__].idFuncionarios}" th:value="${f.idFuncionarios}" readonly id="input-table">
                            </td>

                            <input type="hidden" th:field="*{funcionarios[__${iterStat.index}__].idUtilizador}" th:value="${f.idUtilizador}" readonly id="input-table">

                            <td>
                                <input type="text" th:field="*{funcionarios[__${iterStat.index}__].nome}" th:value="${f.nome}" id="input-table">
                            </td>
                            
                            <td>
                                <input type="number" th:field="*{funcionarios[__${iterStat.index}__].idade}" th:value="${f.idade}" id="input-table">
                            </td>
                            
                            <td>
                                <input type="text" th:field="*{funcionarios[__${iterStat.index}__].identificacao}" th:value="${f.identificacao}" id="input-table">
                            </td>
                            
                            <td>
                                <input type="text" th:field="*{funcionarios[__${iterStat.index}__].experienciaProfissional}" th:value="${f.experienciaProfissional}" id="input-table">
                            </td>
                            
                            <td>
                                <input type="text" th:field="*{funcionarios[__${iterStat.index}__].funcao}" th:value="${f.funcao}"  id="input-table-funcao">
                            </td>
                            
                            <td>
                                <input type="text" th:field="*{funcionarios[__${iterStat.index}__].habilidades}" th:value="${f.habilidades}" id="input-table">
                            </td>

                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </main>

    <script th:src="@{/javascript/home.js}"></script>
</body>
</html>